language: php

services:
  - memcached
  - redis-server

addons:
  hosts:
    - memcached-container
    - redis-container

php:
  - "7.1"
  - "7.0"
  - "5.6"

install:
  - composer install

script: 
  - phpunit --stderr
